<div class="div container">
    <div class="tableContainer">
        <h2>Juegos de Deporte</h2>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Portada</th>
            <th scope="col">Titulo</th>
            <th scope="col">Plataformas</th>
            <th scope="col">Precio/Calificacion</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let game of games">
            <tr *ngIf="game.categories.includes('sport')">
            <td> <img [src]="game.image" [alt]="game.title"> </td>
            <td>{{game.title}}</td>
            <td>{{game.platforms}}</td>
            <ng-container *ngIf="game.purchased == false">
                    <td>${{game.price}}.00</td>
            </ng-container>
            <ng-container *ngIf="game.purchased == true">
                <td class="form">
                    <app-input-score [(score)] = "game.score" [id] = "game.id"></app-input-score>
                </td>
            </ng-container>
            
            <td>
                <ng-container *ngIf="game.price == 0.00 || game.purchased == true; else elseBlock">
                <a href="#" class="btn btn-primary">Jugar</a>
                </ng-container>
                <ng-template #elseBlock>
                <a href="#" class="btn btn-primary">Comprar</a>
                </ng-template></td>
            </tr>
            
        </tbody>
        </table>
    </div>
</div>